@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
    padding: revert;
    margin: revert;
  }
}

html {
  font-size: 18px;
}

@layer components {
  h1 {
    font-size: 4.44em;
    line-height: 1.2;
    @apply font-bold;
  }
  h2 {
    font-size: 3.5em;
    line-height: 1.2;
    @apply font-bold;
  }
  h3 {
    font-size: 2.66em;
    line-height: 1.2;
    @apply font-bold;
  }
  h4 {
    font-size: 1.77em;
    line-height: 1.2;
    @apply font-bold;
  }
  h5 {
    font-size: 1.55em;
    line-height: 1.2;
  }
  h6 {
    font-size: 1.11em;
    line-height: 1.2;
  }
  .caption {
    font-size: 0.9em;
    line-height: 1.3;
  }
  .small {
    font-size: 0.8em;
    line-height: 1.3;
  }
  .link {
    @apply md:hover:text-gray-500 transition-colors;
  }
  .body-text p {
    @apply mb-linebreak leading-default;
  }
  .body-text p:last-of-type {
    @apply mb-0;
  }
  .body-text a {
    @apply text-kavli-blue underline underline-offset-4 decoration-kavli-blue;
  }
  .video,
  .img {
    position: relative;
    display: block;
    --w: 1;
    --h: 1;
    padding-bottom: calc(100% / var(--w) * var(--h));
    background: var(--color-black);
  }
  .img img,
  .video iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
  }
  .img[data-contain] img {
    object-fit: contain;
  }
  .img-caption,
  .video-caption {
    padding-top: 0.75rem;
    line-height: 1.5em;
  }
}
